@model Music_Library_Management_Application.Models.PlaylistDetailsViewModel

@{
    ViewData["Title"] = "Playlist Details";
}

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<h1>Playlist Details</h1>


<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Playlist.PlaylistTitle
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Playlist.PlaylistDescription
        </dd>
    </dl>
</div>

<div>
    <h4>Songs in this Playlist</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Length</th>
                <th>BPM</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td>@song.SongTitle</td>
                    <td>@song.SongArtist</td>
                    <td>@song.SongAlbum</td>
                    <td>@song.SongLenght</td>
                    <td>@song.SongBPM</td>
                    <td>
                        <button class="btn btn-primary play-button" data-song-url="@Url.Action("Play", "Songs", new { id = song.Id })" data-song-title="@song.SongTitle">Play</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_MusicPlayer")

@section Scripts {
    <script src="~/js/music-player.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/music-player.css">
}
